.drop-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;

}
.container{
  max-width: 400px !important;
}
.card{
  max-width: 400px!important;
}

.bg{
  background-size: cover;
  height:100vh; 
  background-color: gray;
  
}
.herocard{
  margin-top: 200px;
  width: 350px;
  height: 300px!important;
}
